.additional-item__title {
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey-2;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-item__table {
  font-size: 14px;
  line-height: 14px;
  width: 100%;

  & td:last-child {
    text-align: right;
  }
}
