.button {
  background-color: $basic-green;
  color: $basic-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border: none;
  font-family: "Oswald", "arial", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: $opacity-white;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
