.example {
  background-color: $background-color;
  padding-top: 27px;
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 1fr;
  }
}

.example__stats {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example__title {
  line-height: 40px;
  margin-bottom: 33px;
}

.example__text {
  font-family: "Arial", sans-serif;
  margin: 0;
}

.example__price {
  margin: 0;
  text-transform: uppercase;
  line-height: 20px;
  color: $basic-black;
  margin-bottom: 42px;
  text-align: center;
}
