.example {
  background-color: $background-color;
  padding-top: 27px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $background-color 462px, transparent 462px, transparent);
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 1fr;
  }
}

.example__stats-wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 58px;
  }
}

.example__stats {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    flex-wrap: wrap;
  }
}

.example__title {
  line-height: 40px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__price {
  margin: 0;
  text-transform: uppercase;
  line-height: 20px;
  color: $basic-black;
  text-align: center;
  margin: 0 auto 42px auto;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    margin: 0 0 42px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.example__price-number {
  @media (min-width: $desktop-width) {
    margin-left: 63px;
  }
}

.example__before-after {
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 620px;
  }
}

.example__before-img {
  @media (min-width: $tablet-width) {
    height: 520px;
  }
}
