.guide__title {
  line-height: 40px;
}

.guide__list {
  list-style: none;
  padding: 0;
  font-family: arial;
}

.guide__item {
  padding-left: 80px;
  min-height: 60px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.guide__item--healthy {
  background-image: url("../img/healthy.svg");
}

.guide__item--powder {
  background-image: url("../img/powder.svg");
}

.guide__item--food {
  background-image: url("../img/food.svg");
}

.guide__item--time {
  background-image: url("../img/time.svg");
}

.guide__text {
  margin: 0;
}
