.guide {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-top: 45px;
    padding-bottom: 47px;

    @include underline($nav-border-color);
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.guide__title {
  line-height: 40px;
  margin-bottom: 38px;
}

.guide__list {
  list-style: none;
  padding: 0;
  font-family: "Arial", sans-serif;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 54% 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.guide__item {
  padding-left: 80px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: 0px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  &:not(:last-child) {
    @media (max-width: $mobile-width-only){
      margin-bottom: 20px;
    }
  }

  &--healthy {
    background-image: url("../img/healthy.svg");
  }

  &--powder {
    background-image: url("../img/powder.svg");
  }

  &--food {
    background-image: url("../img/food.svg");
  }

  &--time {
    background-image: url("../img/time.svg");
  }

  @media (min-width: $tablet-width) {
    width: 246px;
    height: 280px;
    padding: 151px 0 0 0;
    background-position: 0 40px;
    background-size: 80px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.guide__number {
  position: absolute;
  z-index: -1;
  font-family: "Oswald", "arial", sans-serif;
  font-size: 280px;
  line-height: 280px;
  color: $basic-grey;
  top: 0;
  left: 113px;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.guide__text {
  margin: 0;
}
