.line-title {
  padding: 0;
  max-width: 226px;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  margin-bottom: 36px;
  position: relative;
  background-color: $basic-white;
  padding-right: 22px;
  box-sizing: content-box;

  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    position: absolute;
    top: 16px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    margin-left: -39px;
    max-width: none;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 63px;

    &::after {
      top: 22px;
    }

    &::before {
      content: "";
      width: 100vw;
      height: 2px;
      background-color: $basic-green;
      position: absolute;
      top: 22px;
      left: -100vw;
      z-index: -1;
    }
  }
}
