.map {
  position: relative;
}

.map__caption {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;

  @media (min-width: $tablet-width) {
    padding: 62px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    background-color: $basic-white;
    top: 95px;
    padding: 66px 76px 52px 76px;
  }

  &--form {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.map__caption--index {
  background-color: $basic-white;
}

.map__welcome {
  font-size: 16px;
  text-transform: uppercase;
  color: $welcome-color;
  max-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 87px;
  }
}

.map__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  max-width: 160px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    text-align: right;
  }
}

.map__city {
  @media (min-width: $tablet-width) {
    position: relative;
    top: 20px;
  }
}

.map__iframe {
  width: 100vw;
  height: 362px;

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
