.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 55px
  }
}

.page-footer__logo {
  width: 100%;
  min-height: 95px;
  padding-top: 39px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
  }
}

.page-footer__contacts {
  min-height: 63px;
}

.page-footer__socials-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__socials-item:not(:last-child) {
  margin-right: 33px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: stretch;
  }
}

.page-footer__copyright {
  min-height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.page-footer__copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  margin-top: 6px;
  margin-right: 22px;
}
