.page-header {
  color: $basic-black;

  &--index {
    @media (min-width: $desktop-width) {
      position: absolute;
      color: $basic-white;
      width: 1220px;
      left: 50%;
      transform: translate(-50%);
      z-index: 1;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding-right: 34px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__title {
  margin-left: auto;
  margin-right: auto;
}
