.page-header {
  color: $basic-black;

  &--index {
    @media (min-width: $desktop-width) {
      position: absolute;
      color: $basic-white;
      width: 1220px;
      @include absolute-center-x;
      z-index: 1;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }
}

.page-header__wrapper-logo {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding-right: 34px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__title {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
