.products {
  @include underline($grey-button-hover);

  &::after {
    top: 0;
    width: 100vw;
    left: -20px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.products__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.products__item {
  min-height: 209px;
  box-sizing: border-box;
  @include underline($grey-button-hover);

  &::after {
    width: 100vw;
    left: -20px;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 68px;

    &:not(:nth-child(2n)) {
      margin-right: 60px;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 62px;

    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-top: 72px;
    }
  }
}
