.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 19px 0 25px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, $basic-grey 430px, transparent 430px, transparent);
    padding: 0 37px 40px 39px;
  }
}

.product__img-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.product__img--small {
  width: 68px;
  height: 86px;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.product__img--big {
  width: 84px;
  height: 101px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: $special-dark-grey-2;
  max-width: 76px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    margin-bottom: 21px;
  }
}

.product__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  border-collapse: collapse;

  & td {
    padding: 0;
    border-bottom: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      padding-bottom: 9px;
      padding-top: 7px;
    }
  }

  & td:last-child {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 33px;
  }
}

.product__button {
  grid-column: 1 / 3;
}
