.programs-list {
  padding-top: 22px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
  }
}

.programs-list__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
