.programs-item {
  background-color: $basic-grey;
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 18px;
  margin-bottom: 27px;
  box-sizing: border-box;

  &--weight-loss {
    background-image: url("../img/cat-slim.svg");
    background-position: 22px 21px;

    @media (min-width: $tablet-width) {
      background-size: 200px 211px;
      background-position: 90% center;
    }

    @media (min-width: $desktop-width) {
      background-size: 100px 106px;
      background-position: 52px 47px;
    }
  }

  &--weight-gain {
    background-image: url("../img/cat-bodybuilder.svg");
    background-position: 13px 24px;

    @media (min-width: $tablet-width) {
      background-size: 268px 200px;
      background-position: 95% center;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 100px;
      background-position: 33px 47px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 52px 53px 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs-item__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width){
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.programs-item__description {
  font-family: "Arial", sans-serif;
  padding-bottom: 23px;
  margin: 0 0 15px 0;
  position: relative;
  box-sizing: border-box;

  @include underline($underline-color);

  @media (min-width: $tablet-width) {
  margin-bottom: 48px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    max-width: 60%;
  }
}

.programs-item__link {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/arrow-short.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 10px;
    position: absolute;
    right: -47px;
    @include absolute-center-y;
  }

  &:hover {
    &::after {
      background-image: url("../img/arrow-long.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
