.promo {
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px;
  text-align: center;
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 141px;
    text-align: left;
  }
}

.promo__title {
  color: $basic-white;
  margin-bottom: 25px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
}

.promo__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    width: 244px;
  }
}
