.result {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    width: 52%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.result__item {
  display: block;
  text-align: center;
  position: relative;
  height: 56px;
  width: 124px;
  border: 1px solid $special-grey;
  border-radius: 3px;
  padding-top: 15px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.result__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__caption {
  text-transform: lowercase;
  background-color: $background-color;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  margin: 0;
  bottom: -16px;
  @include absolute-center-x;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    bottom: -8px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    background-color: $basic-white;
  }
}
