.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;

  @media (min-width: $tablet-width) {
    margin-top: -95px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -74px;
    margin-left: 55px;
  }
}

.slider__button {
  border: none;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $opacity-black;
    margin: 0 24px;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border: none;
    }
  }
}

.slider__scale {
  width: 30%;
  height: 14px;
  background-color: $basic-white;
  border-radius: 6px;
  border: 1px solid $special-grey;
  padding: 4px 6px;
  box-sizing: border-box;
  position: relative;
  margin: 0 16px;

  @media (min-width: $tablet-width) {
    width: 60%;
    border: none;
    background-color: $slider-color;
    height: 6px;
    margin: 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 428px;
  }
}

.slider__bar {
  background-color: $basic-green;
  width: 42%;
  height: 100%;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  left: 49%;
  top: -12px;
  background-color: $basic-green;
  border: 12px solid $basic-white;
  box-shadow: 0 0 0 1px $special-grey, 0 1px 3px 0 $slider-toggle-shadow-color;

  &:hover {
    box-shadow: 0 0 0 1px $special-grey, 0 2px 4px 0 $slider-toggle-shadow-color;
  }

  &:active {
    box-shadow: 0 0 0 1px $basic-green, 0 3px 5px 0 $slider-toggle-shadow-color;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
