.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;

  &--catalog {
    margin-top: 27px;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-top: 64px;
      margin-bottom: 95px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 75px;
      margin-bottom: 85px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
