.page__body {
  font-family: "Oswald", "arial", sans-serif;
  font-weight: 400;
  color: $special-dark-grey;
  background-color: $basic-white;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
