@mixin underline($color) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $color;
  }
}

@mixin absolute-center-x {
  left: 50%;
  transform: translate(-50%);
}

@mixin absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
}
