$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$background-color: #eaeaea;
$special-grey: #cdcdcd;
$welcome-color: #111111;
$input-border-color: #e7e7e7;
